name: Deploy

on:
  push:
    branches:
      - main

permissions:
  id-token: write      # Required for aws-actions/configure-aws-credentials
  contents: read       # Required for actions/checkout

concurrency:
  group: '${{ github.workflow }} @ ${{ github.ref }}'
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout
      uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

    - name: Use Node.js
      uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
      with:
        node-version-file: .node-version

    - run: npm ci
      env:
        NODE_ENV: development

    - run: npm run build
      env:
        NODE_ENV: production
        VITE_API_URL: https://guestbook.frankmaes.com
        VITE_RECAPTCHA_SITE_KEY: ${{ secrets.RECAPTCHA_SITE_KEY }}

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@7474bc4690e29a8392af63c5b98e7449536d5c3a # v4.3.1
      with:
        role-to-assume: arn:aws:iam::803205869942:role/github-actions-frankmaes.com
        aws-region: us-east-1

    - name: Push to S3
      run: aws s3 sync dist s3://frankmaes

    - name: Clear Cloudfront Cache
      run: aws cloudfront create-invalidation --distribution-id E1ASB9DIML1ZVZ --paths "/*"
